

/* colores...................... */

$negro: #000;
$blanco: #fff;
$morado:#A435f0;
$gris: #f8f9fb;
$gris-Oscuro: #6A6F73;
$naranja: #B4690E;

/* Tipografia................................. */

$fuente-headings: 'Kaisei HarunoUmi',serif;
$fuente-textos: arial, helvetica,sans-serif;
$headings-font-family: $fuente-headings;
$headings-font-weight: 700;
$h2-font-size: 3rem;
$h3-font-size: 2.6rem;

/* colores boostrap..........................*/

$secondary: $naranja;
$success: $morado;
$light: $gris;
$dark: $negro;

/* Formularios.......................... */

$input-border-color: $dark;
$input-border-radius: 1rem;


/* Enlaces..................... */

$nav-link-color:$gris-Oscuro;
$nav-link-hover-color:$dark;
$nav-link-font-weight:700;
$nav-link-font-size:0.9rem;

/* Botones...................... */

 $btn-border-radius: 0;
 $btn-font-weight:700;


/* Cards.......................... */


$card-spacer-x:0;
$card-border-radius:0;
$card-border-width:0;


/*Habilitar css Grid....................  */

$enable-cssgrid:true;













@import '../../node_modules/bootstrap/scss/bootstrap.scss';

